/*     
font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif;
*/

/*
### Primary

- Dark Violet: hsl(256, 26%, 20%)
- Grayish Blue: hsl(216, 30%, 68%)

### Neutral

- Very Dark Violet: hsl(270, 9%, 17%)
- Dark Grayish Violet: hsl(273, 4%, 51%)
- Very Light Gray: hsl(0, 0%, 98%)
*/

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.navbar-brand img {
  height: auto;
  width: 96px;
  padding-bottom: 0.5rem;
}

.nav-link {
  color: var(--dark-grayish-violet);
  font-weight: bold;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--very-dark-violet);
}

.nav-link.primary-link {
  border: 1px solid var(--very-dark-violet);
  color: var(--very-dark-violet);
}

.nav-link.primary-link:hover {
  background-color: var(--very-dark-violet);
  color: var(--very-light-gray);
}
